@keyframes a-roted {
    from {
        transform: rotate(0deg) scale(0.7);

    }

    to {
        transform: rotate(1080deg) scale(1.5);
    }
}
/* shared css  */
.inter {
    font-family: "Inter", sans-serif;
}
.section-max-width {

    max-width: 1200px;
}

/* shared css end  */

/* hero section style  */


.dropshadow {
    filter: drop-shadow(2px 2px 3px #9500f6);
}

.animation {
    animation: a-roted 5s 1s ease-out infinite alternate forwards;

}

/* button style  */
.primary-btn {
    background-image: linear-gradient(30deg, #f7c850, #f60ab8, #9100F8);
    transition: all 0.3s ease;
    /* border: solid white 3px; */
    /* border-image: 3px linear-gradient(30deg, #f7c850, #f60ab8, #9100F8); */
}

.primary-btn:hover {
    transform: scale(0.9);
}

.spotify-btn {
    transition: all 0.3s ease;
}

.spotify-btn:hover {
    background-color: green;
    color: white;
    border: green solid 2px;
}

/* button style end  */

.card-bg {
    background: rgba(53, 17, 101, 0.4);
}

@media screen and (max-width:410px) {
    .hero-button-container{
        grid-template-columns: 1fr;
        max-width: 200px;
    }
}