@keyframes a-roted {
    from {
        transform: rotate(0deg) scale(0.7);

    }

    to {
        transform: rotate(1080deg) scale(1.5);
    }
}


/* shared css  */




.inter {
    font-family: "Inter", sans-serif;
}


.section-max-width {

    max-width: 1200px;
}

/* shared css end  */

/* hero section style  */


.dropshadow {
    filter: drop-shadow(2px 2px 3px #9500f6);
}

.animation {
    animation: a-roted 5s infinite alternate-reverse;
}


/* button style  */

.primary-btn {
    background-image: linear-gradient(30deg, #f7c850, #f60ab8, #9100F8);
    /* border-image:  linear-gradient(30deg, #f7c850, #f60ab8, #9100F8); */
}

/* .primary-btn:hover {
    background: transparent;
    border: solid white;
} */


.spotify-btn {}

/* button style end  */


.card-bg {

    background: rgba(53, 17, 101, 0.4);
}