

@keyframes a-roted {
    from {
        transform: rotate(0deg) scale(0.7);

    }

    to {
        transform: rotate(1080deg) scale(1.5);
    }
}


/* shared css  */

.primary-btn {
    background-image: linear-gradient(30deg, #f7c850, #f60ab8 , #9100F8);
}

.inter {
    font-family: "Inter", sans-serif;
}

/* shared css end  */

/* hero section style  */


.dropshadow {
    filter: drop-shadow(2px 2px 3px #9500f6);
}

.animation {
    animation: a-roted 5s infinite alternate-reverse;
}