@keyframes a-roted {
    from {
        transform: rotate(0deg) scale(0.1);
        right: 30%;
    }

    to {
        transform: rotate(1080deg) scale(1.5);
    }
}

/* shared css  */
.inter {
    font-family: "Inter", sans-serif;
}

.section-max-width {
    /* margin: 0 auto; */
    max-width: 1200px;
}

/* shared css end  */

/* hero section style  */


.dropshadow {
    filter: drop-shadow(2px 2px 3px #9500f6);
}

.animation {
    animation: a-roted 5s 1s ease-out infinite alternate forwards;

}

/* button style  */
.primary-btn {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    transition: all 0.3s ease;

}

.primary-btn:hover {
    transform: scale(0.9);
}

.spotify-btn {
    transition: all 0.3s ease;
}


.spotify-btn:hover {
    background-color: green;
    color: white;
    border: green solid 2px;
    transform: scale(1.05);
}
section#footer-section {
    background-size: 100% 100%;
}

/* button style end  */

.card-bg {
    background: rgba(53, 17, 101, 0.4);
}

@media (min-width:530px) and (max-width:767px) {
    .text-center.bg-\[url\(\'\.\/assets\/hero-circle\.png\'\)\].bg-no-repeat.bg-center.tems-center.flex.bg-size-\[40\%\].\32 xl\:bg-size-\[25\%\].md\:bg-size-\[30\%\].md\:max-h-\[480px\].h-52.md\:h-\[800px\].\32 xl\:max-h-\[660px\] {
    height: 310px;
}

img.w-12.md\:w-\[12\%\].m-auto {
    width: 100px;
}

span.bg-green-400.px-2\.5.scroll-py-1\.5.rounded-2xl.absolute.right-1\/4.top-\[15px\].md\:top-20.md\:right-\[38\%\].\32 xl\:right-\[41\%\].\32 xl\:top-32.dropshadow.animation {
    right: 31%;
}
}




@media screen and (max-width:410px) {
    .hero-button-container {
        grid-template-columns: 1fr;
        max-width: 200px;
    }

    section.bg-\[\#260c47\].text-white.md\:py-28 {
        padding-bottom: 30px;
    }
    
}