
/* shared css  */

.primary-btn{
    background-image: linear-gradient(50deg, #F7E93F , #9100F8);
}
.inter {
  font-family: "Inter", sans-serif;
}

/* shared css end  */

/* hero section style  */
#hero-section{
    /* background-image: url('/assets/hero-bg.png'); */
}